h1{
    text-align: center;
    color:rgb(62, 98, 9) ;
    background-color: yellow;
    display: inline-block;
}
h2{
    text-align: center;
    color:rgb(62, 98, 9) ;
    display: inline-block;
   
}
h3{
    background-color:#28a745;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

button{
    background-color: #dc3545;
    color: white;
}